.card-container {
  width: 500px;
  margin-top: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}
.inline-budget-second {
  margin-left: 30px;
}
.card-headers {
  display: block;
  width: 500px;
}
.card-headers-inline {
  display: inline-block;
}
#planned{
  color: grey;
  font-size: 13px;
  margin-left: 91px;
  margin-bottom: 0;
}
#received {
  color: grey;
  font-size: 13px;
  margin-left: 110px;
  margin-bottom: 0;

}
.title-input {
  height: 20px;
  width: 150px;
  border: 0;
  font-size: 16px;
}
.title-para {
  height: 20px;
  width: 150px;
  margin-bottom: 0;
}
.title-input::-webkit-input-placeholder {
color: black !important;
font-size: 16px;
}

.title-input:-moz-placeholder { /* Firefox 18- */
color: black !important;
font-size: 16px;
}
.title-input:focus {
  background: #ccffcc;
  border: 0;
}

.title-input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;
font-size: 16px;
}

.title-input:-ms-input-placeholder {
color: black !important;
font-size: 16px;
}

.inline-budget-second {
  width: 65px;
  margin-left: 70px;
  display: inline-block;

}
.inline-budget-first {
  width: 170px;
  display: inline-block;
}
.inline-budget-third {
  display: inline-block;
  margin-left: 106px;
}
body{
  background-image: url('./images/dust_scratches.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}
.create-budget-container {
  margin: auto;
  font-family: 'Arvo', sans-serif;
  width: 50%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 1.2px 1.2px lightgrey;
  margin-top: 15%;


}
